.container{
    display: flex;
    position: absolute;
    left: 10vw;
    top: 23vh;
    width: 80vw;
    height: 100vh;
    justify-content: space-around;
}

.knockout {
    background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 100px;
    font-family: arial, helvetica;
    width: 100vw;
    margin-top: 2vh;
    text-align: center;
    position: absolute;
  }

body{
    /* background: url("./images/drumMachineBackground1.jpg"); */
    background-image: linear-gradient(to bottom, #7C7C80, #000000);
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
}

/* .key{
    text-align: center;
    border: 10px solid black;
    height: 15vh;
    width: 9.4vw;
    padding-top: 2%;
    background: blue;
} */
.key{
    display: flex;
    justify-content: center;
    align-items: center;
    border:6px solid #26210A;
    color: #000000;
    border-radius: 15px 15px 15px 16px;
    -webkit-border-radius: 15px 15px 15px 16px;
    -moz-border-radius: 15px 15px 15px 16px;
    font-family: Impact;
    width: 6vw;
    height: 6vh;
    font-size: 20px;
    padding: 4vh 4vh;
    box-shadow: inset 0 1px 22px 0 #070208,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
    -moz-box-shadow: inset 0 1px 22px 0 #070208,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
    -webkit-box-shadow: inset 0 1px 22px 0 #070208,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
    text-shadow: 0px 1px 25px #FFFFFF;
    background-image: linear-gradient(to right, #E656FC, #9235FC);
    background-color: #4494FC;
    transition: all 1s;
   }
   .key:hover, .key:active{
    border:6px solid #FFFFFF;
    color: #FFFFFF;
    box-shadow: inset 0px 1px 0 0 #823CAB,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
    -moz-box-shadow: inset 0px 1px 0 0 #823CAB,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
    -webkit-box-shadow: inset 0px 1px 0 0 #823CAB,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
    background-color: #FCDF5B;
   }
   .key:hover {
       transform: translateY(-10px);
   }
   .key:active {
    transform: translateY(-2px);
    }
   #s{
    background-image: linear-gradient(to right, #32FC2B, #71FC4E);
   }

   #d{
    background-image: linear-gradient(to right, #E8FC35, #C4C439);
   }
   #f{
    background-image: linear-gradient(to right, #FC0000, #C44A4A);
   }
   #j{
    background-image: linear-gradient(to right, #3A1CFC, #1247C4);
   }
   #k{
    background-image: linear-gradient(to right, #60FCCD, #5AC0C4);
   }
   #l{
    background-image: linear-gradient(to right, #FC1EDE, #BC70C4);
   }
   #semicolon{
    background-image: linear-gradient(to right, #FCA1D2, #C4B6C3);
   }
   #z{
    background-image: linear-gradient(to right, #FCA119, #C4821F);
   }
   #x{
    background-image: linear-gradient(to right, #FC0000, #C44A4A);
   }
   #c{
    background-image: linear-gradient(to right, #60FCCD, #5AC0C4);
   }
   #v{
    background-image: linear-gradient(to right, #3A1CFC, #1247C4);
   }
   #m{
    background-image: linear-gradient(to right, #FC1EDE, #BC70C4);
   }
   #comma{
    background-image: linear-gradient(to right, #32FC2B, #71FC4E);
   }
   #period{
    background-image: linear-gradient(to right, #E8FC35, #C4C439);
   }
   #questionMark{
    background-image: linear-gradient(to right, #6336B3, #6D3BC4);
   }

   @media only screen and (max-width: 450px) {
    
        .container { 
            height: 56vh;
            width: 56vw;
            left: 23vw;
            top: 20vh;
        }
        .key{
            border:6px solid #26210A;
            color: #000000;
            border-radius: 15px 15px 15px 16px;
            -webkit-border-radius: 15px 15px 15px 16px;
            -moz-border-radius: 15px 15px 15px 16px;
            font-family: Impact;
            
            width: 6vw;
            height: 6vh;
            font-size: 14px;
            padding: 3.5vh 3.5vh;
            box-shadow: inset 0 1px 22px 0 #070208,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
            -moz-box-shadow: inset 0 1px 22px 0 #070208,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
            -webkit-box-shadow: inset 0 1px 22px 0 #070208,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
            text-shadow: 0px 1px 25px #FFFFFF;
            background-image: linear-gradient(to right, #E656FC, #9235FC);
            background-color: #4494FC;
           }
           .knockout {
            background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
            color: red;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            font-weight: bold;
            font-size: 40px;
            font-family: arial, helvetica;
            width: 97vw;
            margin-top: 6vh;
            text-align: center;
            text-align: center;
            position: absolute;
        
          }
}
